[Unit]
Description=XMR-Stak-CPU miner

[Service]
Type=simple
User=monero
WorkingDirectory=/var/lib/monero
ExecStart=/usr/bin/xmr-stak-cpu /etc/xmr-stak-cpu.json

[Install]
WantedBy=multi-user.target
